
body {
  font-family: "Arial", sans-serif;

  background: var(--background-body) ;
  color: var(--color) ;

}
::-webkit-scrollbar {
  width: 12px;
  background-color:  rgb(14, 38, 36) ;
} 
::-webkit-scrollbar-thumb{
  background-color: rgb(66, 66, 66); 
  border-radius: 20px;

}
::-webkit-scrollbar-thumb:active{
  background-color: rgba(8, 222, 255, 0.6) ;
} 

:root{ 
  --background-body: #f8f9fa ; 
  --navbar-color : #024f59 ;  
  --color : #000 ;
}
.dark-mode {
  --background-body: linear-gradient(45deg, #161816, #0e2624);
  --navbar-color : linear-gradient(45deg, #161816, #0e2624) ; 
}
nav {
  color: #fff; 
  max-width: 100%;
} 
nav .container-fluid{
  max-width: 100%;
}
@font-face {
  font-family: iransans;
  src: url("../font/IRANSansWeb.ttf");
}
.navbar-item { 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;  
  font-family: iransans;
  
} 

svg{
  color: white;
} 
.navbar-item-icon{
  cursor: pointer;
} 
.navbar-row{
  background-color: var(--navbar-color);
} 

@media screen and (max-width  : 2000px) {
  .panel-name{
      font-size: 20px;
  }
  .input{
  font-size: 20px;
} 
.navbar-item-icon{
  font-size: 30px;
}
}
@media screen and (max-width  : 768px) {
  .panel-name{
      font-size: 13px;
  }
  .input{
  font-size: 13px;
}
}
@media screen and (max-width : 576px) {
  .input{
  font-size: 10px;
} 
.navbar-item-icon{
  font-size: 18px;
}
}
.main {
  margin-top: 20px; 
}

.border-left {
  border-left: 2px solid #343a40 !important;
}

.row {
  margin-bottom: 10px;
}
.col-row-main{
  background-color: #525657 ;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.col-3-main {
  background-color: #253f44; 
  color: #fff;
  padding: 10px;
  border-radius: 5px; 
  height: 750px; 
  overflow-x: hidden; 
  overflow-y: scroll;
}

.col-3 i {
  color: #17a2b8;
}

.col-3 .row {
  cursor: pointer;
  transition: background-color 0.3s;
}

.col-3 .row:hover {
  background-color: #495057;
}

.col-8 {
  /* background-color: #fff; */
  /* color: #000; */
  border-radius: 5px;
}

.fa-bars,
.fa-user {
  font-size: 18px;
}

.footer{
  margin-top: 20px;
}
.footer-input{
  background-color: red;
}
.input-group-prepend span {
  width: 100%;
}

/* request support */ 

@font-face {
  font-family: iran;
  src: url("./../font/IRANSansWeb.ttf");
}
.main-row{
  box-shadow: 0 0 20px  #4caf50;
}
body{
  font-family: iran;
}


.my-container{
  border: 1px solid #ced4da;
}
.input-group-text {
  display: flex;
  gap: 0.5rem;
  border: none;
}

.saken-info {
  align-items: center;
}

.final_pay {
  padding: 1rem 0px;
  font-weight: bold;
  color: #024f59;
}

.items-button {
  background-color: transparent;
}

.box {
  background-color: #024f59;
  color: #fff;
}

.input-group-prepend {
  margin-left: -1px;
  width: 8rem;
  border-bottom: 1px dashed silver;
  border-left: none;
  border-radius: 0.2rem;
}

.saken-info .input-group {
  margin: 0.3rem auto;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

.saken-info .input-group input {
  border: 1px dashed #ced4da;
}
.result{
  border : 1px solid #ced4da; 
  border-radius: 5px;
  padding: 20px;
}
.filter-row{
  padding: 13px;
  border: 1px solid #355f64; 
  border-radius: 7px;
}

fieldset {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px;
}

legend {
  font-weight: bold;
  color: #333;
}
.footer {
  padding: 20px 0;
  /* background: linear-gradient(45deg, #161816, #0e2624); */
}

.container-fluid {
  max-width: 1400px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-around;
}

.col {
  flex: 1;
  margin: 0 10px;
}

.form-control {
  text-align: center;
}

input::placeholder {
  color: #6c757d;
}

.mb-2 {
  margin-bottom: 20px;
}

/* end of request support */