body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
  /* background-color: #3d444a; */ 
  background-image: url("../img/bg.png");

}

nav {
  color: #fff;
}
@font-face {
  font-family: iransans;
  src: url("../font/IRANSansWeb.ttf");
}
.navbar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: iransans;
}

.navbar-item-icon {
  cursor: pointer;
}
.navbar-row {
  background-color: #024f59;
}
.main {
  margin-top: 20px; 
}
.main-row{
  border-bottom: 1px solid #000;
  
}
.border-left {
  border-left: 2px solid #343a40 !important;
}

.row {
  margin-bottom: 10px;
}
.col-row-main{
  background-color: #525657 ;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.col-3-main {
  background-color: #253f44; 
  
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.col-3 i {
  color: #17a2b8;
}

.col-3 .row {
  cursor: pointer;
  transition: background-color 0.3s;
}

.col-3 .row:hover {
  background-color: #495057;
}

.col-8 {
  /* background-color: #fff; */
  /* color: #000; */
  border-radius: 5px;
}

.fa-bars,
.fa-user {
  font-size: 18px;
}

.footer{
  margin-top: 20px;
}
.footer-input{
  background-color: red;
}