@font-face {
    font-family: iran;
    src: url("./../font/IRANSansWeb.ttf");
}
body{
    font-family: iran;
}
.my-container{
    border: 1px solid #ced4da;
}
.input-group-text {
    display: flex;
    gap: 0.5rem;
    border: none;
}

.saken-info {
    align-items: center;
}

.final_pay {
    padding: 1rem 0px;
    font-weight: bold;
    color: #024f59;
}

.items-button {
    background-color: transparent;
}

.box {
    background-color: #024f59;
    color: #fff;
}

.input-group-prepend {
    margin-left: -1px;
    width: 8rem;
    border-bottom: 1px dashed silver;
    border-left: none;
    border-radius: 0.2rem;
}

.saken-info .input-group {
    margin: 0.3rem auto;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

.saken-info .input-group input {
    border: 1px dashed #ced4da;
}
.result{
    border : 1px solid #ced4da; 
    border-radius: 5px;
    padding: 20px;
}
.filter-row{
    padding: 13px;
    border: 1px solid #355f64; 
    border-radius: 7px;
}
fieldset {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px;
}

legend {
    font-weight: bold;
    color: #333;
}